html {
  font-family: "Titan One", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  min-height: 100vh;
  color: #FFFFFF;
  background-size: cover;
  background-image: linear-gradient(-20deg, #DD687C 0%, #FFC0CB 100%);
}
.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin: 0 auto 10px auto;
  color: #FFFFFF;
}

p {
  margin: 0;
}

.app-message {
  height: 20px;
  margin: 10px auto 20px auto;
}

.app-container {
  width: 250px;
  height: 420px;
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}

.app-circle {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.circle-shape {
  pointer-events: none;
}

.semi-circle {
  position: absolute;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  border: solid 6px;
}

.left-side {
  top: 0;
  left: 0;
  transform-origin: right center;
  transform: rotate(0deg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: none;
  z-index: 1;
}

.right-side {
  top: 0;
  left: 100px;
  transform-origin: left center;
  transform: rotate(0deg);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none;
}

.circle {
  border-color: #c8327b;
}

.circle-mask {
  border-color: #e85a71;
}

.app-counter-box {
  font-size: 250%;
  position: relative;
  top: 50px;
  color: #FFFFFF;
}

button {
  position: relative;
  top: 50px;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
  color: #FFFFFF;
}

button:hover {
  color: #c8327b;
}
